<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta lang="EN"
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Heroes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src='app.js'></script>
    <script src='heroesDB.js'></script>
    <script src="heroes.services.js"></script>
    <script src='heroes.controller.js'></script>
</head>
<body ng-app="heroes" ng-controller="MainController as vm">


            <div class="menu">

                <h1 class="title">Heroes Gallery</h1>
                <div class="search">
                    <input type="text" ng-model="vm.searchText" ng-change="vm.onChangeSearchByName()" inside-text="Search" placeholder="Search">  
                </div>

                <div class="menuButtons">   
                    <button ng-click="vm.onClickAddHero()">Add Hero</button>
                    <button ng-Click="vm.onClickSortByName()" name="sortByName" id="abc"> ABC ⇅ </button>                
                    <select name="genderFilter" ng-change="vm.onChangeFilterByGender()" ng-model="vm.selectedGender">
                        <option ng-value="1">All Heroes</option>
                        <option ng-value="2">Female</option>
                        <option ng-value="3">Male</option>
                    </select> 

                    <select name="studioFilter" ng-change="vm.onChangeFilterByStudio()" ng-model="vm.selectedStudio" >
                        <option ng-value="1">All Heroes</option>
                        <option ng-value="2">DC comics</option>
                        <option ng-value="3">Marvel</option>
                    </select>    
                </div>  

            </div>
        

        <div class="container">

            <div ng-repeat="hero in vm.heroesList" class="heroes">
                <h2>{{hero.name}}</h2>
                <p class="studio">{{hero.studio}}</p>

                <div class="heroDescription">
                    <p>{{hero.superpower}}</p>
                </div>   

                <button ng-click="vm.onClickEditHeroName(hero)">Edit Hero</button>
                <button ng-click="vm.onClickRemoveHero(hero.id)">Remove Hero</button>
                
            </div>

        </div>   
     

</body>
</html>