body {
    
    background-color:  rgb(1, 21, 63);
}

.title{
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

h2{
    color: rgb(139, 22, 30);
    margin-bottom: 20px;
}

.studio{
    color: rgb(83, 12, 17);
    margin-bottom: 2px;
}

p{
    color: aliceblue;
    margin-top: 5px;
}


.container{
    align-items: center; 
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    column-gap: 50px;
    
}

.heroes {
    position: relative;
    background-color: rgb(126, 137, 151);
    padding: 15px;
    width: 90%;
    max-width: 250px;
    min-width: 250px;
    height: 200px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    margin-top: 19px;
}

.menu{
   align-content: center;
   justify-items: center;
}

button{
   display: inline-block;
   border-color: rgb(139, 22, 30);
   color: white; 
   background-color: rgb(22, 52, 117);
   margin: 5px 5px 0px 0px;
   padding: 5px;
   height: 35px;
   border-radius: 5px;
   align-items: baseline;

}

input{
    display: inline-block;
    width: 40%;
    min-width: 300px;
    height: 35px;    
    border-radius: 5px;
    margin: auto;
}

select{
    height: 35px;
}

.search{
    text-align: center;
    align-items: center;
    align-content: center;
}

.menuButtons{
    text-align: center;
    align-items: center;
    padding: 0px;
}

.loading{
    color: aliceblue;
    text-align: center;
    margin-top: 40px;
}

.checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    align-items: right;
    background-size: cover;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.heroes:hover .checkbox {
    opacity: 1;
    width: 30px;
    height: 30px;
}

.show-all .checkbox {
    opacity: 1;
}

